---
layout: base
---

<section class="tp">
    <header>
        {% include layouts/tp/_pagination.liquid %}
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        {% include layouts/tp/_pagination.liquid %}
    </footer>
</section>
