{% if include.item_page.id == page.id %}
    {% assign is_active_page = true %}
{% else %}
    {% assign is_active_page = false %}
{% endif %}

{% assign pagination_item_html_class = "pagination-item" %}
{% if is_active_page %}
    {% assign pagination_item_html_class = pagination_item_html_class | append: " active" %}
{% endif %}
<li class="{{ pagination_item_html_class }}">
    {% if include.item_text %}
        {% assign page_text = include.item_text %}
    {% elsif include.index %}
        {% assign page_text = "Index" %}
    {% else %}
        {% assign page_text = include.item_page.page %}
    {% endif %}

    {% if is_active_page %}
        <span class="pagination-number">{{ page_text }}</span>
    {% else %}
        <a class="pagination-number" href="{{ include.item_page.url | relative_url }}">{{ page_text }}</a>
    {% endif %}
</li>
