/*region    -- Presentations */
.presentations-subjects {
  > li {
    .subject {
      padding: $spacing-unit * .5 $spacing-unit * .25;
      border-width: 2px;
      border-style: solid;
      border-color: $color-info;
      display: flex;
      justify-content: space-between;

      &.has_roaster {
        border-color: $brand-color;
      }

      > .title {
        > p {
          margin: unset;
        }
      }
      > .roaster {
        > span + span {
          padding-left: $spacing-unit * .25;
          border-left: 1px solid $brand-color;
          margin-left: $spacing-unit * .25;
        }
      }
    }
    .documentation {
      margin-top: $spacing-unit * .25;
      margin-left: $spacing-unit;

      > a {
        &:before {
          font-size: larger;
          content: "📚️";
        }
        &:hover {
          text-decoration: none;
        }
      }
    }

    + li {
      margin-top: $spacing-unit * .5;
    }
  }

}
/*endregion -- Presentations */

/*region    -- Exam */
.exam-elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $spacing-unit * 2;

  > article {
    border: 3px $border-color-01 solid;
    border-radius: 1rem;

    > header {
      padding: $spacing-unit * .5;
      font-weight: 700;
      font-size: 1.25em;
      text-align: center;

      > p {
        margin: unset;
      }
    }
    > main {
      border-top: 3px $border-color-01 solid;
      padding-top: $spacing-unit * .25;

      > dl {
        > dt {
          padding-left: $spacing-unit * .5;
          padding-right: $spacing-unit * .5;
        }
        > dd {
          padding-left: $spacing-unit;
          padding-right: $spacing-unit;
        }
        > * + dt {
          border-top: 1px $border-color-01 solid;
          padding-top: $spacing-unit * .25;
        }
      }
    }
  }
}
/*endregion -- Exam */
