/*region    -- Presentations */
.presentations-subjects {
  > li {
    .subject {
      padding: $spacing-unit * .5 $spacing-unit * .25;
      border-width: 2px;
      border-style: solid;
      border-color: $color-info;
      display: flex;
      justify-content: space-between;

      &.has_roaster {
        border-color: $brand-color;
      }

      > .title {
        > p {
          margin: unset;
        }
      }
      > .roaster {
        > span + span {
          padding-left: $spacing-unit * .25;
          border-left: 1px solid $brand-color;
          margin-left: $spacing-unit * .25;
        }
      }
    }
    .documentation {
      margin-top: $spacing-unit * .25;
      margin-left: $spacing-unit;

      > a {
        &:before {
          font-size: larger;
          content: "📚️";
        }
        &:hover {
          text-decoration: none;
        }
      }
    }

    + li {
      margin-top: $spacing-unit * .5;
    }
  }

}
/*endregion -- Presentations */
